<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Avatar UTN  
    </a>

    <a class="navbar-brand" [routerLink]="['/evaluacion']">
        Grades  
    </a>






</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4">
            <ul class="lis-group">
                <li *ngFor="let evalue of evalueArray" class="list-group-item list-group-item-action" (click)="openForEdit(evalue)" [class.active]="evalue == selectedEvalue">
                    <span class="badge badge-primary">{{ evalue.numero }}</span>{{evalue.tipo}} - {{ evalue.valor }} 
                </li>
                
            </ul>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">
                        Insert a New Evaluation

                    </div>""
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedEvalue.tipo" placeholder="Insert tipo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedEvalue.valor" placeholder="Insert valor" class="form-control">
                    </div>
                    <button (click)="addoredit()"  class="btn btn-primary">
                        Submit
                    </button>
                    <button *ngIf="selectedEvalue.numero !== 0" class="btn btn-danger" (click)="delete()">
                        Delete
                    </button>
                </div>

            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<router-outlet></router-outlet>
